In [65]:
import pandas as pd
import numpy as np

In [66]:
# Load the CSV files  with the ids into a dataframe
df_irradianceIDs = pd.read_csv("data/revised_newmexico_installations.csv")

In [67]:
locations= []
for location in df_irradianceIDs['NSRDB loc']:
    locations.append(location)

In [68]:
dfs=[]
for index in range(len(locations)):
    df=pd.read_csv(f"data/NRELinstallation_solar_irradiance/{locations[index]}_2022.csv")
    dfs.append(df)

In [69]:
df = pd.concat(dfs, ignore_index=True)

In [70]:
df

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Solar Zenith Angle,Latitude,Longitude,Location ID,Elevation,Local Time Zone
0,2022,1,1,0,30,0,0,0,94.05,31.81,-106.66,443735,1243,-7
1,2022,1,1,1,30,0,0,0,105.93,31.81,-106.66,443735,1243,-7
2,2022,1,1,2,30,0,0,0,118.28,31.81,-106.66,443735,1243,-7
3,2022,1,1,3,30,0,0,0,130.90,31.81,-106.66,443735,1243,-7
4,2022,1,1,4,30,0,0,0,143.63,31.81,-106.66,443735,1243,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2022,12,31,19,30,195,218,303,60.26,36.97,-105.94,460677,2438,-7
218996,2022,12,31,20,30,55,960,489,63.13,36.97,-105.94,460677,2438,-7
218997,2022,12,31,21,30,52,900,377,68.82,36.97,-105.94,460677,2438,-7
218998,2022,12,31,22,30,81,477,191,76.69,36.97,-105.94,460677,2438,-7
218999,2022,12,31,23,30,28,3,28,86.05,36.97,-105.94,460677,2438,-7

In [87]:
df_location_groups = df.groupby(df['Location ID']).sum()
df_sums = df_location_groups.loc[:,['DNI','GHI']]
df_sums

                 DNI      GHI
Location ID
396067       2715399  2028578
407538       2793583  2134766
422738       2851411  2191156
424521       2808502  2152137
429870       2853434  2083408
429936       2748701  2126816
438132       2852250  2177702
439901       2792780  2077403
440846       2753042  2080815
443735       2915497  2217028
447439       2601638  2008981
451308       2827456  2174247
452164       2634959  2022928
455003       2630305  2006095
456938       2725170  2037336
459837       2626760  2045896
460677       2619013  1994073
465549       5270058  4056366
493920       2475463  1945899
496052       2701997  2087297
504322       2695557  2124847
519836       2694799  2032549
528281       2771072  2120556
532495       2808057  2156272

In [97]:
df_merged_NM_solar = pd.merge(df_irradianceIDs,df_sums,left_on='NSRDB loc',right_on='Location ID')
df_merged_NM_solar

,Unnamed: 0,NSRDB loc,OID_,case_id,multi_poly,eia_id,p_state,p_county,ylat,xlong,...,p_azimuth,p_tilt,p_battery,p_cap_ac,p_cap_dc,p_type,p_agrivolt,p_zscore,DNI,GHI
0,2092,443735,2092,400135,single,57338,NM,Dona Ana,31.803101,-106.669998,...,180,20.0,NaN,20.16,23.8,greenfield,non-agrivoltaic,-0.801538,2915497,2217028
1,2134,422738,2134,402177,single,61165,NM,Luna,31.867701,-107.588997,...,180,16.0,NaN,1.90,2.3,greenfield,non-agrivoltaic,-0.427312,2851411,2191156
2,2101,451308,2101,400343,single,57986,NM,Otero,32.035900,-106.336998,...,180,NaN,NaN,10.00,11.3,greenfield,non-agrivoltaic,-1.129940,2827456,2174247
3,2098,532495,2098,400260,multi,57736,NM,Lea,32.129902,-103.138001,...,181,0.0,NaN,9.90,10.7,greenfield,non-agrivoltaic,-0.754247,2808057,2156272
4,2100,438132,2100,400342,single,57985,NM,Dona Ana,32.247898,-106.911003,...,180,NaN,NaN,12.00,13.6,greenfield,non-agrivoltaic,-0.977871,2852250,2177702
5,2114,504322,2114,400264,multi,57740,NM,Eddy,32.344002,-104.235001,...,180,0.0,NaN,9.90,10.9,greenfield,non-agrivoltaic,-0.729673,2695557,2124847
6,2094,424521,2094,400838,multi,59010,NM,Luna,32.571201,-107.485001,...,180,20.0,NaN,52.20,64.6,greenfield,non-agrivoltaic,-0.769662,2808502,2152137
7,2091,429936,2091,400216,single,57591,NM,Dona Ana,32.628601,-107.260002,...,180,0.0,NaN,5.04,5.6,greenfield,non-agrivoltaic,-0.522281,2748701,2126816
8,2099,528281,2099,400262,multi,57738,NM,Lea,32.681702,-103.301002,...,181,20.0,NaN,10.08,10.6,greenfield,non-agrivoltaic,-0.785107,2771072,2120556
9,2127,407538,2127,400596,single,58540,NM,Grant,32.713001,-108.248001,...,180,0.0,NaN,1.00,1.1,greenfield,non-agrivoltaic,-0.117102,2793583,2134766
10,2087,459837,2087,400581,multi,58520,NM,Otero,32.976799,-105.972000,...,180,0.0,NaN,7.50,9.6,greenfield,non-agrivoltaic,-0.389176,2626760,2045896
11,2148,496052,2148,400546,single,58479,NM,Chaves,33.349098,-104.539001,...,180,26.0,NaN,1.40,2.5,greenfield,non-agrivoltaic,-0.314743,2701997,2087297
12,2135,465549,2135,402519,multi,61662,NM,Lincoln,33.611900,-105.749000,...,180,20.0,NaN,3.00,3.6,greenfield,non-agrivoltaic,-0.475478,5270058,4056366
13,2120,465549,2120,403387,single,63081,NM,San Miguel,35.634300,-105.176002,...,180,0.0,NaN,10.00,12.8,greenfield,non-agrivoltaic,-0.936732,5270058,4056366
14,2095,447439,2095,401201,single,59618,NM,Valencia,34.809700,-106.516998,...,180,0.0,NaN,9.12,11.4,greenfield,non-agrivoltaic,-0.743994,2601638,2008981
15,2111,440846,2111,402441,single,61556,NM,Valencia,34.833599,-106.780998,...,180,0.0,NaN,10.00,12.5,greenfield,non-agrivoltaic,-0.372680,2753042,2080815
16,2109,519836,2109,400979,single,59251,NM,Quay,34.986801,-103.627998,...,180,22.0,NaN,25.00,32.0,greenfield,non-agrivoltaic,-0.683037,2694799,2032549
17,2089,456938,2089,403736,multi,63579,NM,Torrance,35.016499,-106.097000,...,180,30.0,NaN,50.00,67.7,greenfield,non-agrivoltaic,-0.306571,2725170,2037336
18,2097,429870,2097,401202,single,59619,NM,Cibola,35.255798,-107.249000,...,180,20.0,NaN,7.60,9.4,greenfield,non-agrivoltaic,-0.636949,2853434,2083408
19,2129,439901,2129,400623,multi,58588,NM,Sandoval,35.312199,-106.638001,...,180,20.0,NaN,1.00,1.2,greenfield,non-agrivoltaic,-0.338783,2792780,2077403
20,2088,396067,2088,402988,single,62406,NM,McKinley,35.523800,-108.773003,...,180,30.0,NaN,8.00,9.8,greenfield,non-agrivoltaic,0.129440,2715399,2028578
21,2124,452164,2124,400434,multi,58256,NM,Los Alamos,35.876099,-106.310997,...,180,NaN,NaN,1.00,1.1,landfill,non-agrivoltaic,-0.469365,2634959,2022928
22,2143,455003,2143,403412,single,63124,NM,Rio Arriba,36.331200,-106.190002,...,180,25.0,NaN,1.60,2.0,greenfield,non-agrivoltaic,-0.045921,2630305,2006095
23,2093,493920,2093,400104,single,57243,NM,Colfax,36.468498,-104.635002,...,180,25.0,NaN,30.64,37.4,greenfield,non-agrivoltaic,-0.660558,2475463,1945899
24,2122,460677,2122,400427,single,58240,NM,Taos,36.966301,-105.436997,...,180,25.0,NaN,1.30,1.3,greenfield,non-agrivoltaic,-0.805163,2619013,1994073

In [98]:
df_merged_NM_solar = df_merged_NM_solar.rename(columns={'DNI':'2022 total DNI', 'GHI':'2022 total GHI', 'p_cap_ac':'AC Rating (GW)', 
                                                        'p_cap_dc':'DC Rating (GW)','p_state':'state','p_county':'county','p_area':'area (sq meters)',
                                                        'ylat':'latitude','xlong':'longitude','p_pwr_reg':'utility','p_name':'name','p_tech_pri': 'principal tech','p_axis':'axis type'})
df_merged_NM_solar.head()

,Unnamed: 0,NSRDB loc,OID_,case_id,multi_poly,eia_id,state,county,latitude,longitude,...,p_azimuth,p_tilt,p_battery,AC Rating (GW),DC Rating (GW),p_type,p_agrivolt,p_zscore,2022 total DNI,2022 total GHI
0,2092,443735,2092,400135,single,57338,NM,Dona Ana,31.803101,-106.669998,...,180,20.0,NaN,20.16,23.8,greenfield,non-agrivoltaic,-0.801538,2915497,2217028
1,2134,422738,2134,402177,single,61165,NM,Luna,31.867701,-107.588997,...,180,16.0,NaN,1.90,2.3,greenfield,non-agrivoltaic,-0.427312,2851411,2191156
2,2101,451308,2101,400343,single,57986,NM,Otero,32.035900,-106.336998,...,180,NaN,NaN,10.00,11.3,greenfield,non-agrivoltaic,-1.129940,2827456,2174247
3,2098,532495,2098,400260,multi,57736,NM,Lea,32.129902,-103.138001,...,181,0.0,NaN,9.90,10.7,greenfield,non-agrivoltaic,-0.754247,2808057,2156272
4,2100,438132,2100,400342,single,57985,NM,Dona Ana,32.247898,-106.911003,...,180,NaN,NaN,12.00,13.6,greenfield,non-agrivoltaic,-0.977871,2852250,2177702